@charset "UTF-8";

h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
    border-bottom: 2px solid #98d1e6;
}
h2, h3 {
    color: white;
}

body {
    background-color: #34343c;
    background-repeat: no-repeat;
}

#uploadBtn {
    text-align: center;
    border-radius: 5px;
    width: 95%;
    font-size: 20px;
    padding: 5px;
    margin-top: 60px;
}
input {
    text-align: center;
    border-radius: 5px;
    width: 95%;
    font-size: 20px;
    color: #34343c;
    padding: 5px;
}
select {
    font-size: 30px;
    margin: 5px;
    background-color: gainsboro;
    color: white;
}

#steps {
    float: left;
    max-height: 300px;
    margin-top: 35px;
}
#upload  {
    float: left;
    width: 75%;
}

.center {
        display: block;
        margin: 0 auto;
}

.lightbluebackground {
    background-color: #98d1e6;
}

.lightbluetext  {
   color: #98d1e6;
}